{% extends "base.html" %}

{% block css %}
    <style>
        .guide{
            position: fixed;
            left:44%;
            top:5%;
        }

        .guide img{
            width: 100px;
            height: 100px;
            margin-left: 48px;
        }

        .fill-in-box{
            position: fixed;
            top: 25%;
            left: 36%;
            background-color: white;
            width: 480px;
            height: 280px;
            padding: 25px;
            box-shadow: 0 4px 9px -3px rgba(102,136,153,.15);
        }

        .fill-in-box form .field{
            margin-top: 15px;
        }

        .fill-in-box form .field label{
            font-size: 20px;
            color: #767676;
            line-height: 1.42857143;
        }

        .fill-in-box form .field input{
            width: 450px;
            height: 10px;
            padding: 12px;
            border: 1px solid #e8e8e8;
        }

        .fill-in-box form .submit input{
            background-color: #2196f3;
            width: 475px;
            height: 35px;
            color: white;
            margin-top: 26px;
            font-size: 19px;
        }

        .fill-in-box form .remenber{
            margin-top: 15px;
            font-size: 20px;
            float: left;
        }

        .fill-in-box form .tip{
            margin-top: 15px;
            float: right;
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Login</title>
    <link rel="SHORTCUT ICON" href="../../statics/img/1.jpg" />
{% endblock %}

{% block section1 %}
    <!-- 引导信息 -->
    <div class="guide">
        <img src="../../statics/img/1.jpg" alt="shunzi">
        <h2>Login your account</h2>
    </div>
{% endblock %}

{% block section2 %}
    <div class="fill-in-box">
        {% if err.account is not None %}
            <span style="color: red">
                {{ err.username }}
            </span>
        {% endif %}
        {% if err.password is not None %}
            <span style="color: red">
                {{ err.password }}
            </span>
        {% endif %}
        <form action="/home/login/" method="post">
            <div class="field">
                <label for="username">username</label>
                <input type="text" id="username" name="username" required="true" placeholder="请输入用户名或者邮箱地址"/>
            </div>
            <div class="field">
                <label for="password">password</label>
                <input type="password" id="password" name="password" required="true" placeholder="请输入密码"/>
            </div>
            <div class="remenber">
                <input type="checkbox" id="remenber">
                <label for="remenber">Remenber me</label>
            </div>
            <div class="tip">
                <a href="#">Forget Password?</a>
            </div>
            <div class="submit">
                <input type="submit" value="Login">
            </div>
        </form>
        <a style="font-size: 20px;margin-top: 15px;display: inline-block" href="/home/register">注册</a>
    </div>
{% endblock %}

{% block js %}
    <script src="../../statics/js/jquery-1.12.4.js"></script>
    <script src="../../statics/js/jquery.cookie.js"></script>
    <script>
        (function($) {
            $(".fill-in-box form .submit input").click(function(event) {

                var password = $(".fill-in-box form #password").val()
                var myRe = /[0-9]+/g;
                var myArray = myRe.exec(password);
                console.log(myArray)
                try{
                    //匹配到数字的子串的长度
                    var sub_len = myArray[0].length;
                }
                catch(err)
                {
                    var sub_len = 0;
                }
                if(password.length != sub_len || sub_len < 6){
                    var label = "<div style='color:red'>请输入数字,且长度不小于6</div>"
                    $(".fill-in-box form #password").parent().find('div').remove();
                    $(".fill-in-box form #password").after(label)
                    event.preventDefault();
                }
            })
        })(jQuery)
    </script>
{% endblock %}