<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../statics/css/bootstrap-theme.css ">
    <link rel="stylesheet" href="../statics/css/bootstrap.css ">
</head>
<body>
    <div style="width: 1200px; height: 800px; background-color: #52fff7; margin: 90px auto">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a style="background-color: #52FFF7; display: inline-block;width: 110px;height: 150px;text-align: center" href="/login/" class="thumbnail">
              <span style="font-size: 100px" class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                <span>machine manage</span>
            </a>
          </div>
        </div>
    </div>
</body>
</html>